.icon {
  width: calc(var(--size) * 6);
  height: calc(var(--size) * 6);
  transition: transform var(--transition-duration) var(--transition-circular);
  color: var(--white);
  &:hover {
    transform: scale(1.125);
    cursor: pointer;
  }
}

.title--xl {
  font-family: var(--primary-font);
  font-size: calc(var(--size) * 10);
  font-weight: 900;
}

.title--lg {
  font-family: var(--primary-font);
  font-size: calc(var(--size) * 9);
  font-weight: 800;
}

.title--md {
  font-family: var(--primary-font);
  font-size: calc(var(--size) * 8);
  font-weight: 800;
}

.title--sm {
  font-family: var(--primary-font);
  font-size: calc(var(--size) * 7);
  font-weight: 800;
}

.title--xs {
  font-family: var(--primary-font);
  font-size: calc(var(--size) * 6);
  font-weight: 700;
}

.subtitle--xl {
  font-family: var(--secondary-font);
  font-size: calc(var(--size) * 7);
  font-weight: 700;
}

.subtitle--lg {
  font-family: var(--secondary-font);
  font-size: calc(var(--size) * 6.5);
  font-weight: 600;
}

.subtitle--md {
  font-family: var(--secondary-font);
  font-size: calc(var(--size) * 6);
  font-weight: 600;
}

.subtitle--sm {
  font-family: var(--secondary-font);
  font-size: calc(var(--size) * 5.5);
  font-weight: 600;
}

.subtitle--xs {
  font-family: var(--secondary-font);
  font-size: calc(var(--size) * 5);
  font-weight: 600;
}

.text--xl {
  font-family: var(--secondary-font);
  font-size: calc(var(--size) * 5);
  font-weight: 500;
}

.text--lg {
  font-family: var(--secondary-font);
  font-size: calc(var(--size) * 4.5);
  font-weight: 400;
}

.text--md {
  font-family: var(--secondary-font);
  font-size: calc(var(--size) * 4);
  font-weight: 400;
}

.text--sm {
  font-family: var(--secondary-font);
  font-size: calc(var(--size) * 3.5);
  font-weight: 400;
}

.text--xs {
  font-family: var(--secondary-font);
  font-size: calc(var(--size) * 3);
  font-weight: 400;
}

.interactive--xl {
  font-family: var(--primary-font);
  font-size: calc(var(--size) * 4.5);
  font-weight: 700;
}

.interactive--lg {
  font-family: var(--primary-font);
  font-size: calc(var(--size) * 4);
  font-weight: 600;
}

.interactive--md {
  font-family: var(--primary-font);
  font-size: calc(var(--size) * 3.5);
  font-weight: 600;
}

.interactive--sm {
  font-family: var(--primary-font);
  font-size: calc(var(--size) * 3);
  font-weight: 600;
}

.interactive--xs {
  font-family: var(--primary-font);
  font-size: calc(var(--size) * 2.5);
  font-weight: 500;
}

.img {
  display: block;
  object-fit: cover;
}

.img--logo {
  width: calc(var(--size) * 12);
  height: calc(var(--size) * 12);
  border-radius: 50%;
}

.img--background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.img--summary-card {
  width: 100%;
  height: calc(var(--size) * 36);
}

.link {
  color: var(--secondary);
  text-decoration: none;
  transition: color var(--transition-duration);

  &:hover {
    color: var(--primary);
  }
}

.input {
  margin: 0;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  border-style: solid;
  transition: border-color var(--transition-duration);
}

.input--form {
  color: var(--secondary-text);
  border-width: calc(var(--size) * 0.625);
  border-radius: var(--border-radius);
  border-color: var(--neutral-500);
  padding: calc(var(--size) * 5);
  &:focus {
    border-color: var(--primary);
    outline: none;
  }
}

.button {
  border-radius: var(--border-radius);
  border-style: solid;
  &:hover {
    cursor: pointer;
  }
}

.button--submit {
  padding: calc(var(--size) * 5);
}

.button--submit--default {
  transition: background-color var(--transition-duration),
    border-color var(--transition-duration);
  background-color: var(--neutral-900);
  border-color: var(--neutral-900);
  &:hover {
    border-color: var(--primary);
    background-color: var(--primary);
  }
}

.button--submit--google {
  background-color: var(--white);
  border-color: var(--secondary);
  color: var(--secondary);
}

hr {
  border-color: var(--neutral-500);
}

@media (min-width: 768px) {
  .title--xl {
    font-size: calc(var(--size) * 10);
    font-weight: 900;
  }

  .title--lg {
    font-size: calc(var(--size) * 9);
    font-weight: 800;
  }

  .title--md {
    font-size: calc(var(--size) * 8);
    font-weight: 800;
  }

  .title--sm {
    font-size: calc(var(--size) * 7);
    font-weight: 800;
  }

  .title--xs {
    font-size: calc(var(--size) * 6);
    font-weight: 700;
  }

  .subtitle--xl {
    font-size: calc(var(--size) * 7);
    font-weight: 700;
  }

  .subtitle--lg {
    font-size: calc(var(--size) * 6.5);
    font-weight: 600;
  }

  .subtitle--md {
    font-size: calc(var(--size) * 6);
    font-weight: 600;
  }

  .subtitle--sm {
    font-size: calc(var(--size) * 5.5);
    font-weight: 600;
  }

  .subtitle--xs {
    font-size: calc(var(--size) * 5);
    font-weight: 600;
  }

  .text--xl {
    font-size: calc(var(--size) * 5);
    font-weight: 500;
  }

  .text--lg {
    font-size: calc(var(--size) * 4.5);
    font-weight: 400;
  }

  .text--md {
    font-size: calc(var(--size) * 4);
    font-weight: 400;
  }

  .text--sm {
    font-size: calc(var(--size) * 3.5);
    font-weight: 400;
  }

  .text--xs {
    font-size: calc(var(--size) * 3);
    font-weight: 400;
  }

  .interactive--xl {
    font-size: calc(var(--size) * 4.5);
    font-weight: 700;
  }

  .interactive--lg {
    font-size: calc(var(--size) * 4);
    font-weight: 600;
  }

  .interactive--md {
    font-size: calc(var(--size) * 3.5);
    font-weight: 600;
  }

  .interactive--sm {
    font-size: calc(var(--size) * 3);
    font-weight: 600;
  }

  .interactive--xs {
    font-size: calc(var(--size) * 2.5);
    font-weight: 500;
  }
}
